<po-page-list [p-breadcrumb]="breadcrumb" [p-title]="'Extrato Transferências'">
    <!--    <taco-romaneio-romaneio-listar-->
    <!--            (analisesSolicitado)="goToAnalisesRomaneio($event)"-->
    <!--            (alterarSolicitado)="goToAlterarRomaneio($event)"-->
    <!--            (registrarSolicitado)="goToNovoRomaneio()"-->
    <!--            (distribuicaoSolicitado)="goToDistribuicao($event)"-->
    <!--            (abrirDetalhes)="abrirDetalhes($event)"-->
    <!--            (abrirRelatorio)="abrirRelatorio()"-->
    <!--            (informaPeso)="goToModalPeso($event)"-->
    <!--    ></taco-romaneio-romaneio-listar>-->
</po-page-list>
<router-outlet></router-outlet>