<po-page-default [p-breadcrumb]="breadcrumb" [p-title]="'Nova Transferência'">
    <div class="po-row">
        <div class="po-lg-6 po-md-6 po-sm-6">
            <form class="form">
                <app-select (bank)="receiveBankInfo($event)"></app-select>
                <div>
                    <po-input name="input" p-label="Agência:" id="agency" [ngClass]="{invalid: !isValidAgency()}"
                              [(ngModel)]="agency"
                              (keyup)="isValidAgency()"
                              [disabled]="!isValidBank()"
                              [p-maxlength]="4"></po-input>
                </div>
                <div>
                    <po-input name="account" p-label="Conta:" id="account" [ngClass]="{invalid: !isValidAccount()}"
                              [(ngModel)]="account"
                              (keyup)="isValidAccount()"
                              [disabled]="!isValidBank()"
                              [p-maxlength]="setInputMaxLength()"></po-input>
                </div>
                <div>
                    <po-decimal name="value" p-label="Valor:" [(ngModel)]="value"></po-decimal>
                </div>
                <div>
                    <po-radio-group name="columns" p-label="Tipo de conta a ser creditada:"
                                    [(ngModel)]="accountCredited"
                                    [p-columns]="3"
                                    [p-options]="auditOptions">
                    </po-radio-group>
                </div>
                <div>
                    <po-input [p-mask]="isCpfOrCnpj()" [p-label]="'CPF/CNPJ:'" name="document"
                              [(ngModel)]="document"></po-input>
                </div>
            </form>
        </div>
        <div class="po-lg-6 po-md-6 po-sm-6">
            <po-button class="po-md-6" p-label="Transferir" (p-click)="send()"
                       [p-disabled]="isCorrectFields()"></po-button>
        </div>
    </div>
</po-page-default>

<po-modal #userDetailModal p-title="Transferência realizada com sucesso."> Operação realizada com sucesso. Para
    consultar as transferências, consulte a aba "Extratos".
</po-modal>