<po-page-default [p-breadcrumb]="breadcrumb" [p-title]="'Transferências realizadas'">
    <div class="po-row">
        <div class="po-lg-12 po-md-12 po-sm-12">
            <po-table
                    [p-selectable]="true"
                    [p-hide-select-all]="true"
                    (p-selected)="addID($event)"
                    (p-unselected)="removeID()"
                    [p-auto-collapse]="true"
                    [p-columns]="columns"
                    [p-hide-columns-manager]="true"
                    [p-items]="transfers"
                    [p-sort]="true"
                    [p-striped]="true">
            </po-table>
        </div>
        <div>
            <po-button
                    class="po-md-12 po-mt-1"
                    p-icon="fa fa-delete"
                    p-label="Deletar Transferência"
                    [p-disabled]="!id"
                    (p-click)="deleteElement(id)"
            ></po-button>
        </div>
    </div>
</po-page-default>
